# ***Seasonal Adjustment***

## Import library

In [1]:
import pandas as pd
import numpy as np

%matplotlib inline
import matplotlib.pyplot as plt

## Load "icecream.csv"

In [2]:
df_ice = pd.read_csv('../../data/icecream.csv')

In [3]:
df_ice

     year  month  expenditure_yen
0    2003      1              331
1    2003      2              268
2    2003      3              365
3    2003      4              492
4    2003      5              632
..    ...    ...              ...
115  2012      8             1332
116  2012      9              849
117  2012     10              515
118  2012     11              326
119  2012     12              414

[120 rows x 3 columns]

## Centered Moving Average

In [4]:
df_ma = df_ice.loc[:,'expenditure_yen'].rolling(window=12).mean().shift(-6)
df_cma = df_ma.rolling(window=2).mean()

## Seasonal Adjusment

In [5]:
# O / T = S * I
df_orig_div_cma = df_ice.loc[:,'expenditure_yen'] / df_cma

In [6]:
orig_div_cma = df_orig_div_cma.values        # Add monthly
s_index = np.zeros(12)
counter = np.zeros(12, dtype='i')

for idx in range(len(orig_div_cma)//12):        # Get data per twelve months
    cut_orig_div_cma = orig_div_cma[idx*12:(idx+1)*12]
    mask = cut_orig_div_cma!=cut_orig_div_cma        # nan -> 0 using np.where 
    counter += np.where(mask, 0, 1)
    s_index += np.where(mask, 0, cut_orig_div_cma)

In [7]:
s_index /= counter        # mean of each month
s_index = s_index / s_index.sum() * 1200        # calculate seasonal index
print(s_index)
print(s_index.sum())        # s_index.sum() -> 1200

[ 57.05374632  48.4935788   61.87100094  82.34066594 112.21945388
 129.50185932 178.03993789 201.78512364 122.39560152  79.21403276
  59.2923283   67.79267067]
1200.0000000000002

## np.where

In [8]:
df_orig_div_cma.values[0:10]

array([       nan,        nan,        nan,        nan,        nan,
              nan, 1.48418198, 1.90022472, 1.29613606, 0.76877235])

In [9]:
ms = df_orig_div_cma.values[0:10]!=df_orig_div_cma.values[0:10]        # nan -> True

In [10]:
np.where(ms, 0, 1)        # True -> 0 : False -> 1

array([0, 0, 0, 0, 0, 0, 1, 1, 1, 1])